body {
    background-color: #121212; 
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #1E1E1E; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8);
    width: 50%;
    color: #E0E0E0;
    text-align: center;
}

.area-controles {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-bottom: 20px;
}

.grupo-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.grupo-botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.grupo-inputs input { 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: #2A2A2A; 
    color: #E0E0E0;
}

.grupo-inputs input:focus {
    border-color: #F5A623;
    outline: none;
}
.grupo-botoes button {
    color: white; 
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.btnAdicionar {
    background-color: #4CAF50;
}

.btnAdicionar:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

.btnRemover {
    background-color: #d32f2f;
}

.btnRemover:hover {
    background-color: #b71c1c;
    transform: scale(1.02);
}

#listaProdutos {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    max-width: 400px;
    margin: 20px auto 0 auto;
    max-height: 300px;
    overflow-y: auto;
}

#listaProdutos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2A2A; 
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #E0E0E0; 
}

#listaProdutos li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

#listaProdutos li button:hover {
    transform: scale(1.1);
}

#listaProdutos::-webkit-scrollbar {
    width: 8px;
}

#listaProdutos::-webkit-scrollbar-track {
    background: #1E1E1E;
    border-radius: 10px;
}

#listaProdutos::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 10px;
}

#listaProdutos::-webkit-scrollbar-thumb:hover {
    background: #777777; 
    transition: 0.4s ease-in-out;
}

.grupo-inputs input[type="number"]::-webkit-inner-spin-button,
.grupo-inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#valorTotal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F5A623; 
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
